* {
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Aria;
  background: white;
  color: black;
}

.app {
  position: relative;
}

.app::after {
  content: "";
  height: 1000vh;
  width: 1px;
  display: block;
}

.scroll-top {
  position: sticky;
  top: 10px;
  z-index: 5;
}

#some-element {
  padding: 50px;
  position: relative;
  top: 200vh;
  width: 60%;
  height: 50vh;
  border: solid 1px;
  text-align: center;
}

#some-element > .grid {
  opacity: 0.6;
}

.grid {
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.app .grid {
  position: initial;
  opacity: 1;
}

.percent-marker {
  position: absolute;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 1);
  /* z-index: 10; */
}

.percent-marker_identifier {
  position: absolute;
  margin: 0;
  padding: 0;
  /* z-index: 10; */
}

button {
  background: white;
  border: solid 1px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}

h2 {
  margin-left: 5px;
  margin-bottom: 0;
}

ul {
  margin-top: 5px;
}

li {
  margin-top: 2px;
  margin-bottom: 5px;
}

textarea {
  background: white;
}
