html,
body {
  margin: 0;
  font-family: Lato;
  background: white;
  position: relative;
}

#intro {
  color: dodgerblue;
}

#some-element .content {
  min-height: 50vh;
}

#some-large-element .content {
  min-height: 200vh;
}

h1 {
  margin-top: 0;
  color: #3f4c6b;
}

.top-bar {
  top: 10px;
  position: fixed;
  z-index: 5;
  margin-left: 5px;
  margin-right: 5px;
}

input,
button,
select {
  color: dodgerblue;
  border: solid 3px dodgerblue;
  border: solid 2px dodgerblue;
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border-radius: 3px;
  font-size: 0.9em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.line {
  background: black;
  width: 100%;
  height: 1px;
}

.example {
  margin: 10px;
}
